@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}
.main-container {
  @apply flex min-h-screen flex-1 items-center;
}
.leftsidebar {
  @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r box-gradient pb-5 pt-10 max-md:hidden;
}

.leftsidebar_link {
  @apply relative flex justify-start gap-4 rounded-lg px-4 py-2;
}